<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Angular ToDo Application</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css" />
</head>
<body>

<main class="container" ng-app="TodoApp" ng-controller="TodoController">
    <h1 class="">Simple Angular ToDo List</h1>

    <section class="form-group jumbotron">
        <h2>Add a new ToDo Item</h2>
        <form ng-submit="addTodo()">
            <label for="taskName" class="control-label">Task Name:</label>
            <input name="taskName" id="taskName" ng-model="taskName" />
            <button class="btn btn-success">Add</button>
        </form>
    </section>

    <section>
        <h2>{{ tasks.length }} Current ToDo Items</h2>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="t in tasks track by $index">
                <label class="col-sm-4">{{ t }}</label>
                <button class="btn btn-danger" ng-click="deleteTodo()">Delete</button>
            </li>
        </ul>
    </section>

</main>


<!-- AngularJS -->
<script src="scripts/angular.min.js"></script>

<!-- jQuery -->
<script
        src="http://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<!-- ToDo Script -->
<script src="scripts/todo.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>